@model IEnumerable<Trouble_Ticket_Manager.Models.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargerGiven)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsResolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargerGiven)
                </td>
                <td>
                    <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@item.Id">
                        Edit
                    </a> |
                    <a asp-controller="Ticket" asp-action="Details" asp-route-id="@item.Id">
                        Details
                    </a> |
                    <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@item.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>