@model Trouble_Ticket_Manager.Models.Entities.Computer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceTag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnderWarranty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnderWarranty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Computer" asp-action="Edit" asp-route-assetTag="@Model.AssetTag">
        Edit
    </a> |
    <a asp-action="Index">Back to List</a>
</div>